[2018-05-23 21:13] Mortagne opened #5 "Version 2.* or 3.* ???"
Hi,

i am not sure the difference between this version 3.* of ExecDashboard ....
vs the version 2.* ...

it's better to upgrade to the latest version ?

[2018-05-24 20:21] matthewbeasley commented on #5
Hi @Mortagne - version 3.x is a new product that groups data collected by version 2.x allowing you to easily see data collected by multiple products. It's intended for executives to have a quick view into the CI/CD health of the portfolio of products they are responsible for. You'll want to keep your existing 2.x stack in place and stand up 3.x (ExecDashboard) alongside.

[2018-06-05 07:39] venkiradkris commented on #5
Hi - I am planning to explore Hygieia 3.

Earlier version of Hygieia has following Mongo DB connected (**dashboarddb**).
dbname=dashboarddb
dbusername=dashboarduser
dbpassword=dbpassword

For Hygieia 3 as per instruction, i will be creating new Mongo DB (**analyticsdb**) with dbusername=dashboarduser, dbpassword=dbpassword.

[1] Hence In API Properties File For Hygieia 3, I need to give following

[2018-06-07 08:31] venkiradkris commented on #5
[3]  I am getting build issue # 1. Even after installing required dependencies again and again, same issues are repeating.

[INFO] Running 'npm install --proxy=http://www-proxy-idc.in.oracle.com:80' in /usr/share/Hygieia3/exec-ui
[ERROR] npm WARN @angular/animations@4.4.7 requires a peer of @angular/core@4.4.7 but none is installed. You must install peer dependencies yourself.
[ERROR] npm WARN @an

[2018-06-07 12:54] venkiradkris commented on #5
[5] Please ignore Issues # 3 and # 4 mentioned above.

I am getting below issue when i execute "npm run local" command under "Step 4: Run the UI" mentioned in URL "https://hygieia.github.io/ExecDashboard/EXECUI_Setup.html".

**ISSUE**
The "@angular/compiler-cli" package was not properly installed. Error: TypeError: _angular_core.InjectionToken is not a constructor
Error: The "@angular/compiler-cli

[2018-06-12 07:10] venkiradkris commented on #5
Hi

**Could you please help to answer for my queries above [1] & [2]?**

[3], [4], [5] - i have fixed it myself.

Regards
Venkat

[2018-06-12 18:30] matthewbeasley commented on #5
@venkiradkris - you really should've opened a separate issue for questions unrelated to the original issue.

For the api, you are correct.

For collector:

[code]

[2018-06-13 12:29] venkiradkris commented on #5
Thanks.

[2018-06-13 12:35] venkiradkris opened #9 "Hygieia 3 Collector - Execution Issue"
Hi

I am getting below issue in Hygieia 3 Collector. At high level i can understand that it is expecting data from Hygieia 2 DB (dashboarddb).

Please suggest/guide that what would be the minimal expectation/dashboard/pipeline should be configured in Hygieia 2. First action in Hygieia 3 is selecting executive / portfolio. What does executive / portfolio means in Hygieia 2 in order to show data in

[2018-06-18 07:54] venkiradkris commented on #9
Hi - Please help for the above query. Thanks.

[2018-06-19 17:48] #5 closed

[2018-06-21 18:27] Sbrenthughes commented on #9
You cmdb table doesn't contain a validConfigItem attribute in the document.

[2018-07-02 07:06] pyToshka opened #14 "Building error"
Hello, I tried to build execdashboard and have gotten a lot errors.
[code]
Can you please help me?

[2018-07-02 15:04] subodhbattina commented on #14
@pyToshka : As a work around, you can build the exec-ui separately.
Basically, cd into "exec-ui" folder, and then run "npm install", and let it complete: This will bring down all the dependencies.

In order to bring up the application:
1. Start your database
2. Start your API
3. And then go to exec-ui folder and run "npm run <environment>", where environment could be "local" or "prod".

We will lo

[2018-07-02 15:51] subodhbattina commented on #9
@venkiradkris :
As a general advise:
Please go through the documentation for a better understanding of the product: https://hygieia.github.io/ExecDashboard/Introduction.html

1. cmdb document exists in "dashboarddb" database
2. You would need to first run the "hpsm-cmdb-collector" to be able to populate "cmdb" collection in "dashboarddb"

Here's the sample properties file for hpsm collector below:

[2018-07-12 03:47] pyToshka commented on #14
Hi @subodhbattina
I try to build exec-ui, but i got error
`
$ npm run local

As a forewarning, we are moving the CLI npm package to "@angular/cli" with the next release,
which will only support Node 6.9 and greater. This package will be officially deprecated
shortly after.

To disable this warning use "ng set --global warnings.packageDeprecation=false".

Cannot read property 'config' of null
TypeE

[2018-07-13 04:23] gauravdasson opened #15 "How do I fill the executive info?"
My UI has come up now but what I see is a blank screen. I am a little confused on where will the executive info come from? How do we feed the executive info of our organisation to the DB so that it reflects on the Dashboard? Please help. This is what I see at the moment:
![image](https://user-images.githubusercontent.com/38967728/42672265-8ecebb88-862a-11e8-9f3f-934d32d7a9eb.png)

[2018-07-24 15:04] subodhbattina commented on #14
@pyToshka : Sorry for the delay in responding, did you do a ```npm install``` first under "exec-ui", before running ```npm run local```?

[2018-07-25 23:38] gauravdasson commented on #15
Hi Team, Please help.

[2018-07-30 21:50] subodhbattina commented on #15
@gauravdasson :
It looks like your Hygieia 3.0 api is may not be up.

Hygieia 3.0 collectors read data from the Hygieia 2.0 database, and generate aggregated metrics per Portfolio for a given metric type depending on the collector, and store the aggregated data into Hygieia 3.0 database.

Here's the documentation for Hygieia 3.0: https://hygieia.github.io/ExecDashboard/Introduction.html. I encoura

[2018-08-04 21:56] venkateshmadala commented on #14
@subodhbattina : I am also facing same issue. I ran npm install in exec-ui then only I am trying build the project. But same issue I am facing.

[2018-08-13 18:48] matthewbeasley commented on #15
@gauravdasson - closing this due to inactivity.

[2018-08-13 18:48] #15 closed

[2018-08-14 22:04] mmm13 commented on #14
@subodhbattina  :  Is there any update on the exec-ui build failure?  I'm experiencing the same issue ```
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-assembly-plugin:2.6:single (create-archive) on project exec-ui: Error reading assemblies: Error locating assembly descriptor: assembly/bin.xml ```

I can run `npm run local` under exec-ui but I still need to be able to build the pro

[2018-08-16 09:25] jigneshmehta1984 commented on #14
I'm facing similar issues while doing executive dashboard build. Please suggest if
- Any quick workaround available for this.
I have tried
- Any permanent fix is about to be introduced?

I'm using Win 10 machine, with node v8.9.1 and npm v6.3.0.

Below are error details:

[INFO] Building com.capitalone.dashboard:exec-ui 1.0.0-SNAPSHOT
[INFO] --------------------------------------------------------

[2018-09-03 05:08] xpdable commented on #14
Same error even succeed 'npm install' in exec-ui.

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] com.capitalone.dashboard:HygieiaExec ............... SUCCESS [  2.303 s]
[INFO] com.capitalone.dashboard:exec-core ................. SUCCESS [ 14.544 s]
[INFO] com.capitalone.dashboard:exec-analysis ............. SUCCESS [ 10.996 s

[2018-09-03 07:26] xpdable commented on #14
To who meets the error of @angular/flex-layout please read: https://github.com/angular/flex-layout/issues/344
Then you could modify the package.json to use 2.0.0-beta.8, and remove the package-lock.json once.
Rebuild exec-ui in maven, @angular/flex-layout will resolved.
However the exec-ui/assembly error is still there

[2018-09-03 07:45] xpdable commented on #14
@subodhbattina besides my above comments that is obviously we are lack of file/folder :  **assembly/bin.xml**

            <version>2.6</version>
            <configuration>
                <descriptor>assembly/bin.xml</descriptor>

Could you help to fix, thanks.
Have to go to developer guide to try to build in work around.

[2018-09-04 14:35] thedevopsguru opened #19 "Not able to get the Portfolio in executive dashboard"
I am not able to get the Portfolio list in executive dashboard, the list is empty. Pl suggest.
The documentation for it is not very good.

[2018-09-06 13:36] matjukov-nikolaj opened #20 "What is hpsm?"
Hi, developers. I'm a student from Russia. I installed hygieia 2.0. I even wrote my own collectors for code analyzers of blackduck, appscan, checkmarx. Who collects the data from the XML Reports of the analyzers. I made custom widgets and output of data on the product. At now I want to install Hygieia 3.0 but i have the same problem as in issue #9. You say that we need to first run "hpsm-cmdb-coll

[2018-09-06 13:45] matjukov-nikolaj commented on #9
@venkiradkris Have you solved this problem? How?

[2018-09-19 12:29] matjukov-nikolaj commented on #20
I was answered in the chat on the gitter. close

[2018-09-19 12:29] #20 closed

[2018-10-04 23:28] adityai commented on #19
@thedevopsguru - Same issue here.

![image](https://user-images.githubusercontent.com/8757490/46508408-434e0600-c7f2-11e8-906b-0e7a8dbffd96.png)

[2018-10-05 15:47] adityai commented on #19
@thedevopsguru - I think this folder has stuff that might populate the MongoDB collections, but I am not sure yet because all I see is a db user creation step in the js file.

https://github.com/Hygieia/ExecDashboard/tree/master/exec-db

If I figure it out, I will update this post.

[2018-11-20 11:52] kjaeswar76 opened #23 "exec-analysis Build error"
Getting the below error when we run

in the analysis folder

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  09:06 min
[INFO] Finished at: 2018-11-20T11:05:33Z
[INFO] ------------------------------------------------------------------------
[ERROR]

[2018-11-20 12:15] kjaeswar76 commented on #23
On closer inspection one of the warnings earlier on.. was
[INFO] >>> maven-pmd-plugin:3.6:check (default) > :pmd @ exec-analysis >>>
[WARNING] The POM for com.capitalone.dashboard:exec-core:jar:1.0.0-SNAPSHOT is missing, no dependency information available

[2018-11-23 11:39] rajkumaradass commented on #19
@adityai , Where you able to find how to configure/get the portfolios.

[2018-11-23 14:31] adityai commented on #19
@rajkumaradass - No, I haven’t been able to workout the portfolios. I was planning to go through the code to figure it out, but my team decided to not use Hygieia because of lack of features that we want and lack of documentation and support.

[2018-11-26 06:06] rajkumaradass commented on #19
@thedevopsguru,  By chance were you able to figure this out?

Any inputs on this from hygieia dashboard team is much appreciated, as we are stuck with lack of documentation support on this.

Thanks!

[2018-11-26 06:50] adityai commented on #19
Hello,There seems to be a lot of interest in getting ExecDashboard working. I will put some time into it this week and post a comment.
My team played with Hygieia (not the ExecDashboard) for over a month. The features available are not that great. We were interested in it because we were planning to build our own features on top of Hygieia. 
We compared our requirements with the features already a

[2018-11-26 15:41] rajeshak1971 commented on #19
@adityai, @rajkumaradass @thedevopsguru - Could you please contact me at rajesh.dhanaraj@capitalone.com. I am from the Hygieia team and would like to understand your requirements and see how we can help.

[2018-11-26 16:56] adityai commented on #19
@rajeshak1971 - my latest comments were about Hygieia (not Execdashboard). So far, the primary issue we have with ExecDashboard is - how do we get the dashboard to display anything? How do we get data into ExecDashboard db? The main page shows a 'Executive' level dashboard 'Select a portfolio' with nothing in it. We cannot figure out what data it is exactly. We can try and review the code and figu

[2018-11-26 17:20] rajeshak1971 commented on #19
@adityai - Hygieia Executive dashboard aggregates information from across Hygieia team instance(s) and needs Hygiea Team/Product instance(s) running. Is your Hygieia team instance(s) stood up with key widgets configured such as the feature, code repository, build, and deploy?

[2018-11-27 06:10] rajkumaradass commented on #19
@rajeshak1971 , In Hygieia dashboard, I have created a team dashboard with build widget, code repo widget and a custom widget with all configured properly and showing data in it. Then there is a product dashboard comprising the previously created team dashboard in it.

Note: Before creating a product dashboard, a team dashboard with  atleast code repo and build widget must be configured as per thi

[2018-11-27 06:36] rajkumaradass commented on #19
Also while running the exec-analysis jar, see below exception(**cannot resolve '`validConfigItem`' given input columns: []; line 1 pos 176;** ).  How do we resolve this error?

2018-11-27 11:50:09.916  INFO 30849 --- [taskScheduler-1] org.apache.spark.SparkContext            : Created broadcast 7 from b        roadcast at MongoSpark.scala:536
2018-11-27 11:50:10.012  INFO 30849 --- [taskScheduler-

[2018-12-05 12:00] Satheesh-Balachandran opened #26 "Production releases & Average-lead-time in Product summary view"
Hi, I am able to get the metrics for commits, static code analysis, code coverage and open source violations.

Can you please clarify how to get the production-releases and average-lead-time in the image attached?. I don't see a collector/code to calculate it and it is not generated in "portfolio-metric". Am I missing something here?.

![image](https://user-images.githubusercontent.com/36322769/49

[2018-12-11 06:41] Leon-Africa opened #27 "EXEC ANALYSIS COLLECTOR (Failed login error)"
Hello,

Thanks for the great project.

I have setup the Hygieia Devops Dashboard (https://hygieia.github.io/Hygieia/getting_started.html) and then have the Hygieia Exec Dashboard (https://hygieia.github.io/ExecDashboard/Introduction.html) as well. Both api and ui are deployed for both - collectors in Hygieia Devops are setup and working - now I have the mongodb and collector for the Exec Dashboard

[2018-12-11 06:49] Leon-Africa opened #28 "Using Executive Dashboard without hpsm collector (or an alternative)"
Hello,

Thank you for the great project.

I have found that a requirement to having the Executive Dashboard setup property is to have ran the hpsm collector (https://hygieia.github.io/Hygieia/hpsm.html) on the Hygieia Devops Dashboard.

1. Is there any possible work around to using the Exec Dashboard without using hpsm?
2. Where in the source code can we find this dependency on hpsm? (Both in DevO

[2018-12-20 13:06] Satheesh-Balachandran commented on #26
Any update on this?

[2018-12-20 18:38] JackDGriffith opened #29 "exec-ui build error related to node-sass version"
I am trying to build using the source I just downloaded however I'm getting an error:
[INFO] Downloading binary from https://github.com/sass/node-sass/releases/download/v4.5.3/win32-x64-59_binding.node
[ERROR] Cannot download "https://github.com/sass/node-sass/releases/download/v4.5.3/win32-x64-59_binding.node":
[ERROR]
[ERROR] HTTP error 404 Not Found
Looking on github it looks like the oldest ve

[2018-12-21 18:06] JackDGriffith commented on #29
Found my issue was using too new of a version of nodejs apparently.

[2018-12-21 18:06] #29 closed

[2019-01-02 21:33] micahbhodge commented on #19
Has this been resolved? I am facing the same issue. Hygieia functioning correctly but not able to load any portfolios in executive dashboard.

[2019-01-15 02:20] KalhariL opened #32 "ExecDashboard"
ExecDashboard is supposed to display following 9 matrices

1. Code Commits
2. Open Source Violations
3. Security Violations
4. Automated Tests Passing
5. Code Analysis Issues
6. Production Incidents
7. Unit Test Coverage
8. Production Releases
9. Average Pipeline Lead Time

But only 4 are displayed

1. Code Commits
2. Production Incidents
3. Open Source Violations
4. Code Analysis Issues

Remainin

[2019-01-16 04:35] tabladrum commented on #32
We are testing and redesigning many of these. Soon to be updated. Please stay tuned.

[2019-01-16 04:53] KalhariL commented on #32
I see :) Thanks for the reply.  The matrices I'm interested are Average Pipeline Lead Time & Unit Test Coverage and also there are couple of custom KPIs as well. Would you like to email me the collectors for those two? May be I can work with you & contribute as well.

[2019-01-31 22:40] hijmenf commented on #32
Is there an ETA on this? We would like to know for how long we should "stay tuned", so we can decide if we should start building these features on our own.

[2019-01-31 23:46] anobleperson commented on #28
It's not a requirement, however you'll need to find a way to get the equivalent data into the database, either with manual entry (yuck!) or you're own collector.  Apparently there is a workaround that imports a spreadsheet of information that the Hygieia team might be able to provide.

[2019-02-13 10:55] jochenparm commented on #14
I'm having this same issue.
It's quite disappointing that no one from Hygieia team is responding here anymore.
I mean, the build isn't working on the master branch, isn't that the minimal support they could supply...

[2019-02-13 12:05] rvema commented on #14
Did you try the suggestions mentioned above?

[2019-02-13 12:18] jochenparm commented on #14
I did. Plenty of other errors ensued.
The error seems quite straightforward initially: there's a missing file? Or is it missing since a step in the build chain failed?
I'm deploying the Hygieia toolchain on Kubernetes, so I want to get it up and running using the Docker images. As far as I understand, npm run local won't fix that.
If the problem is due to having the wrong build environment, maybe

[2019-02-13 14:23] rvema commented on #14
We are working on pushing the docker Iimages to dockerhub. We will update you as soon as they are published

[2019-02-13 18:40] jochenparm commented on #14
@rvema Thank you, that would be perfect!
If you're interested (and to show some gratitude), I could create a couple of pull-requests with Helm charts for various configurations of both the Hygieia product and exec dashboards and their collectors.
Maybe you already have these for internal use?
I'm not asking for a commitment here, but do you have an idea on when I could expect these images to appea

[2019-02-19 10:26] jochenparm commented on #14
@rvema Any update?

[2019-02-19 18:41] Sbrenthughes commented on #23
Did you build the core first?

[2019-02-19 18:47] Sbrenthughes commented on #19
For exec dashboard to work you need an integration with a tool such as hp service manager or service now. We offer a collector for hp service manager but not for service now as of yet.

For testing you can create a collection called `cmdb` in your Hygieia 2.0 DB. From there you will need to manually insert two records. I will post a copy of example data in just a moment.

[2019-02-19 19:25] Sbrenthughes commented on #19
The `Business Service`
[code]
and the `Business Application`
[code]
Once the above 2 are added to the cmdb collection in the Hygieia 2.0 db, you can do the following:
1) Navigate to they Hygieia 2.0 main page.
2) For a new dashboard (and existing )  search for the above two in
![image](https://user-images.githubusercontent.com/26173728/53041414-f04bb700-3451-11e9-9875-4103830fa1b5.png)
3) For this

[2019-02-19 20:10] Sbrenthughes commented on #19
We will be creating some apis for inserting above data

[2019-02-19 21:49] rajeshak1971 commented on #19
Hygieia has three views 1. team, 2. product and 3. portfolio. Team provides component level details, product view is an aggregation of all the components and portfolio is an aggregation of all products that are assigned to a specific business owner. An example of components are front end, back end, business services etc and could be different for various organizations.

The reason why HPSM or Serv

[2019-02-26 08:01] rikameajay1 commented on #19
Did anyone got the soln, I'm facing similar issue.

[2019-02-26 08:57] rikameajay1 commented on #19
added cmdb collection but having **org.apache.spark.sql.AnalysisException: cannot resolve '`environments`' given input columns: [appServiceOwner, configurationItemSubType, ownerDept, timestamp, supportOwner, _id, ownerSubDept, itemType, commonName, configurationItem, components, developmentOwner, validConfigItem, configurationItemType, businessOwner, assignmentGroup]; line 1 pos 71;
'Project [_id#

[2019-02-26 09:45] rikameajay1 commented on #19
Resolved.
Make sure to add **server.contextPath=/api** in the api.properties file

[2019-02-27 15:56] Sbrenthughes commented on #32
7 has been added and a PR for 3 is waiting for review

[2019-02-28 20:48] Sbrenthughes commented on #32
3 has been merged.

[2019-02-28 20:48] #32 closed

[2019-02-28 20:49] Sbrenthughes commented on #27
@Leon-Africa Can you update to latest and try again?

[2019-02-28 20:50] Sbrenthughes commented on #26
@Satheesh-Balachandran No update yet.

[2019-02-28 20:51] Sbrenthughes commented on #23
From the project root directory run `mvn clean install`

[2019-02-28 20:51] #23 closed

[2019-02-28 21:23] Sbrenthughes commented on #9
https://github.com/Hygieia/ExecDashboard/issues/19 checkout the information here.

[2019-02-28 21:23] #9 closed

[2019-02-28 23:21] Sbrenthughes commented on #14
Pushing a fix for this issue. Once https://github.com/Hygieia/ExecDashboard/pull/45 is reviewed and merged this will be resolved.

[2019-03-01 16:00] #14 closed

[2019-03-01 17:54] Sbrenthughes commented on #14
This build issue is resolved. Please pull the latest and try again. Docker enhancements will be coming later but not within the next few weeks, likely.

[2019-03-12 15:16] davidpolaniaac commented on #26
Any update on this?

[2019-03-12 15:29] Sbrenthughes commented on #26
We are working on getting some outside contributions. It will likely be sometime before those are made.

[2019-03-27 09:52] Leon-Africa commented on #28
@anobleperson Thanks! Have you perhaps heard from the Hygiea Team concerning this? Have not been able to see where in the source code this is happening.

Closest assumption would be hear: https://github.com/Hygieia/ExecDashboard/blob/master/exec-analysis/src/main/java/com/capitalone/dashboard/exec/collector/HygieiaSparkConnection.java

For own collector assume maybe use Service Now: https://www.se

[2019-03-28 03:11] Sbrenthughes commented on #28
Here is a brief explanation of the data required and how to tie it to the dashboard: https://github.com/Hygieia/ExecDashboard/issues/19#issuecomment-465274851

If you copy and paste those two entires into your cmdb collection and tie them to a team dashboard as described, it will work.

[2019-03-28 11:18] Leon-Africa commented on #28
@Sbrenthughes  Thanks!

[2019-04-01 20:33] Booma-Baskaran opened #49 "CORS policy: No 'Access-Control-Allow-Origin' error at browser"
Hi,

I am getting "Access to XMLHttpRequest at 'http://localhost:8080/api/portfolio' from origin 'http://localhost:4200' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource." error in the browser.

Any idea why I am getting this error? What is the solution?

Thanks,
Booma Baskaran.

[2019-04-03 15:39] Sbrenthughes commented on #49
What command did you use to start it?

[2019-04-12 13:33] Sbrenthughes commented on #49
@Booma-Baskaran any update?

[2019-04-16 19:10] Booma-Baskaran commented on #49
@Sbrenthughes - It's fixed by having the correct apiUrl in environment.ts and environment.local.ts.

[2019-04-17 16:54] #49 closed

[2019-04-17 16:55] Sbrenthughes commented on #27
Closing due to no response.

[2019-04-17 16:55] #27 closed

[2019-04-19 14:55] Sbrenthughes commented on #28
@Leon-Africa I am closing this for now. Please reopen if you have any further questions. You can also reach out to me on gitter.

[2019-04-19 14:55] #28 closed

[2019-04-19 14:58] Sbrenthughes commented on #19
@adityai are you needing any further assistance ?

[2019-04-19 15:12] adityai commented on #19
Yes. I need further assistance to get this thing running and showing data. Please publish some document, a quick start or a script that will start the whole thing with some data displayed on the board.

On Fri, Apr 19, 2019 at 7:58 AM -0700, "Sbrenthughes" <notifications@github.com> wrote:

@adityai are you needing any further assistance ?

—
You are receiving this because you were mentioned.
Repl

[2019-04-19 16:50] Sbrenthughes commented on #19
Where are you stuck specifically

[2019-04-19 17:56] adityai commented on #19
I start the docker container and I am able to view the web ui and I don't know what to do next. How do I get data into it so it displays something?

Thank you,

Aditya Inapurapu.

On Fri, Apr 19, 2019 at 9:50 AM -0700, "Sbrenthughes" <notifications@github.com> wrote:

Where are you stuck specifically

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Git

[2019-04-22 18:21] Sbrenthughes commented on #19
https://hygieia.github.io/ExecDashboard/EXECAPI_Setup.html - API setup

[2019-04-26 14:32] JULIANCHO923 commented on #19
In which tables from dashboarddb should I insert this data?

[2019-04-26 20:06] JULIANCHO923 commented on #15
In this post #19 there is a solution, inserting manually the data

[2019-05-17 12:53] mitunmbj opened #56 "Execution dashboard failing in UI Phase"
[root@hygieia exec-ui]# npm run local

** NG Live Development Server is listening on 0.0.0.0:4200, open your browser on http://localhost:4200/ **
 10% building modules 3/3 modules 0 active[HPM] Proxy created: /api  ->  http://localhost:8081/api
[HPM] Proxy rewrite rule created: "^/api" ~> "http://localhost:8081/api"
[HPM] Subscribed to http-proxy events:  [ 'error', 'close' ]
Date: 2019-05-17T12:1

[2019-05-17 12:55] mitunmbj commented on #56
The mvn build too marks failure
PLZ Do paste the actual installation and configuration steps to fix it

[2019-05-17 14:48] Sbrenthughes commented on #56
can you navigate to the exec-ui folder and `run npm install`?

[2019-05-20 05:04] mitunmbj commented on #56
@Sbrenthughes i ran npm install and then ran npm run local but npm run local cause failure stating any build failures
when i ran mvn clean install in ExecutiveDashboard directory then too build is marked as failure in  ui phase

[2019-05-20 05:41] mitunmbj commented on #56
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] com.capitalone.dashboard:HygieiaExec 1.0.0-SNAPSHOT  SUCCESS [  8.583 s]
[INFO] com.capitalone.dashboard:exec-core ................. SUCCESS [ 49.539 s]
[INFO] com.capitalone.dashboard:exec-analysis ............. SUCCESS [ 26.847 s]
[INFO] com.capitalone.dashboard:exec-api ........

[2019-05-22 18:17] Sbrenthughes commented on #56
What do you get when you run `npm run-script build` ?

[2019-05-22 18:19] Sbrenthughes commented on #56
Also, what mvn version and node version are you using?

[2019-05-29 13:14] Sbrenthughes commented on #56
What version of node are you using?

[2019-07-14 23:37] dilipdmane commented on #15
@subodhbattina

When we say Hygieia 2.0 , are you referring to TeamDashboard database (dashboarddb ) ?

[2019-08-02 18:26] Sbrenthughes commented on #56
Closing due to no update. Please reopen if issue persist

[2019-08-02 18:26] #56 closed

[2019-11-11 09:58] gopiprasanthpotipireddy opened #63 "Not able to run analysis"
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/C:/SW/ExecDashboard/exec-analysis/target/exec-analysis-1.0.0-SNAPSHOT.jar!/BOOT-INF/lib/logback-classic-1.1.11.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/C:/SW/ExecDashboard/exec-analysis/target/exec-analysis-1.0.0-SNAPSHOT.jar!/BOOT-INF/lib/slf4j-log4j12-1.7.25.jar!/org/slf

[2019-11-11 10:22] gopiprasanthpotipireddy commented on #63
@rvema @Sbrenthughes can you please look into the issue ?

[2019-11-11 11:30] gopiprasanthpotipireddy opened #64 "Analysis - Nothing is collected except Portfolio"
![image](https://user-images.githubusercontent.com/14222254/68584005-7f976f80-04a4-11ea-954e-580234b1a621.png)

While running the collector only portfolio collection is getting populated in the db , all other collections are empty and dashboard looks like above. I set up scm and static code analysis in Hygieia but the data is not coming here.

[2019-11-11 11:30] gopiprasanthpotipireddy commented on #64
@rvema @Sbrenthughes please look in to this?

[2019-11-14 08:45] #64 closed

[2019-11-21 16:26] vivekshm opened #67 "Compiling issue in Hygieia Executive Dashboard Setup"
![Capture](https://user-images.githubusercontent.com/57887662/69217068-bac82b80-0b93-11ea-9d9d-0657e1b6ada7.JPG)
I have downloaded the latest version of Hygieia executive Dashboard from below link
https://github.com/Hygieia/ExecDashboard.

I have Team dashboard with Hygieia 3.0.2 version.

I got an exception while compiling the exec-api folder using below command
mvn clean install

Exception:
[ERR

[2020-01-06 15:28] yalalasai commented on #26
Hi @Satheesh-Balachandran  can you  help me with this error.
![image](https://user-images.githubusercontent.com/22237426/71827273-e6609000-30c5-11ea-8b53-497fba3c45cb.png).

This is my analysis.properties file.
dbname=analyticsdb
dbhost=localhost
dbport=27017
dbhostport=localhost:27017
dbreplicaset=true
dbusername=
dbpassword=

logging.file=/hygieia/logs

portfolio.cron=0 0/30 * * * *
portfolio.re

[2020-01-07 22:44] Sbrenthughes commented on #26
This issue is unrelated to your problem. Please open a new issue.

[2020-03-30 10:35] codygulley commented on #67
+1 I am also seeing this issue. Any resolution to this?

[2020-03-30 19:08] rvema commented on #67
@codygulley can you add the entire log file?

[2020-04-24 05:33] amateus1 commented on #29
try:
npm install --unsafe-perm node-sass

[2020-04-24 13:19] AhireSwati opened #75 "No action on click of Create button"
Referred this link to manually add data for executive dashboard:
https://github.com/Hygieia/ExecDashboard/issues/19#issuecomment-465274851

![image](https://user-images.githubusercontent.com/26864639/80216793-3acf5180-865c-11ea-8ea5-a6a79c7d99fc.png)

But when I navigate to the widget selection screen, nothing happens when I click on "Repo" widget and then on Create button. Please help!

I get the

[2020-04-27 06:00] AhireSwati commented on #19
Using the above data insertion steps, got the business service and business application names auto populated. But when I move on to the next widget selection screen, I get error when I click on Create button after selecting "repo" type.
Error: http://192.168.X.XX:3000/api/dashboard 400 (Bad request)
TypeError: Cannot read property '$setValidity' of undefined.
Please help me resolve this issue.

[2020-04-27 12:21] #75 closed

[2020-04-29 11:56] AhireSwati opened #79 "Unable to run the Hygieia executive analysis jar"
I downloaded the latest Hygieia Exec code yesterday.
I am getting below error when I try to run java -jar exec-analysis-1.0.0-SNAPSHOT.jar -Djasypt.encryptor.password=hygieiasecret --spring.config.location=../application.properties:
2020-04-29 16:35:02.617  INFO 4154 --- [taskScheduler-1] c.c.d.exec.collector.PortfolioCollector  : ##### Begin: collectCMDB #####
2020-04-29 16:35:02.753  INFO 4154 -

[2020-05-06 08:09] AhireSwati commented on #79
I added the below two dependencies in exec-analysis/pom.xml
<dependency>
            <groupId>org.mongodb</groupId>
            <artifactId>mongo-java-driver</artifactId>
            <version>3.10.2</version>
        </dependency>
        <dependency>
            <groupId>org.scala-lang</groupId>
            <artifactId>scala-library</artifactId>
            <version>2.11.12</version>
        </de

[2020-05-06 08:09] #79 closed

[2020-05-06 08:15] AhireSwati commented on #79
hi\

[2020-05-06 15:58] kumarabhishek0809 opened #80 "Error while building master."
Error While building Master.

[INFO] <--- Last few GCs --->
[INFO]
[INFO] [11933:0x36efd70]    14850 ms: Scavenge 214.5 (240.5) -> 203.3 (244.0) MB, 8.3 / 0.0 ms  allocation failure
[INFO] [11933:0x36efd70]    14951 ms: Scavenge 217.2 (244.0) -> 207.1 (245.5) MB, 16.2 / 0.0 ms  allocation failure
[INFO] [11933:0x36efd70]    17460 ms: Scavenge 219.1 (245.5) -> 211.8 (249.5) MB, 46.0 / 1.3 ms  alloc

[2020-06-08 12:11] DarrenClintAlbertyn opened #81 "Analysis Collector (LDAP)"
Hi Guys , hope all is well

I've successfully implemented the tagged v1.0.0 release version of the Executive Dashboard, but some features are not available such as the average pipeline lead time etc

While deciding to run the latest release I've been getting the following error when running the analysis executive collector specifically:

org.springframework.ldap.InvalidNameException: Invalid name:

[2020-06-10 17:04] aochsner opened #82 "Perform release to maven central"
https://gitter.im/capitalone/Hygieia?at=5ee0f79229d8bc28f9eaaf17

Per @rvema looks like sonatype oss has been quite unstable as of late.  Creating this issue to track and release once back to stable

[2020-06-17 13:44] rvema commented on #82
OSS was unstable last week and this will be attended to this week

[2020-06-17 14:17] DarrenClintAlbertyn commented on #81
Hi @rvema , could you please assist or give some sort of guidance to find a easy solution for this issue?

[2020-06-17 14:18] rvema commented on #81
Let me check and get back to you

[2020-06-17 14:20] DarrenClintAlbertyn commented on #81
@rvema  , thanks much appreciated

[2020-06-17 15:08] DarrenClintAlbertyn commented on #63
Hi @gopiprasanthpotipireddy , did you perhaps find a workaround for this issue?

[2020-06-22 09:36] DarrenClintAlbertyn commented on #81
@rvema , I managed to bypass the LDAP issue

Seems like the analysis collector is running but no metrics being shown on the dashboard.

Do you perhaps have a snippet of the "pipeline" database schema in mongodb to use as a reference. I assume the "PIPELINE_QUERY_BY_COLLECTOR_ITEMS_ID" query is not executing correctly

@raambabun could you assist please?

TIA

[2020-07-07 13:33] DarrenClintAlbertyn commented on #32
@KalhariL  Hi have you attempted to rebuild the Executive Dashboard and retrieve the following KPI metrics

- Average Pipeline Lead Time
- Automated Tests Passing

TIA

[2020-07-13 08:47] subashgururaj opened #86 "Not able to run Exec-api"
Hello Team,
 when trying to run exec-api through Dockerfile i am facing below issue.

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/var/app/exec-api.jar!/BOOT-INF/lib/logback-classic-1.1.11.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/var/app/exec-api.jar!/BOOT-INF/lib/slf4j-log4j12-1.7.25.jar!/org/slf4j/impl/StaticLogger

[2020-07-16 17:33] rvema commented on #82
in progress, eta 7/16/2020

[2020-07-17 01:11] g1soori commented on #81
@DarrenClintAlbertyn Could you please explain how you managed to bypass LDAP issue shown above ? I received the same error.

[2020-07-29 10:52] larsen-mallick commented on #67
I think executive dashboard uses multi-maven module structure. So triggering mvn clean install from the root - ExecDashboard folder seems to compile all the modules including api and analysis.

[2020-07-29 10:59] larsen-mallick commented on #86
Is MongoDB listening on the correct port?

[2020-07-29 12:32] larsen-mallick opened #94 "Consume stub data in API"
I see a few JSON files with sample data under ExecDashboard\exec-api\src\main\resources\stub-data

How can I put these data to use?

[2020-07-31 06:44] larsen-mallick opened #95 "MongoDriverInformation NoClassDef Error"
I see the following error in exec-analysis application logs -

2020-07-31 12:15:00.015  INFO 13264 --- [taskScheduler-1] c.c.d.exec.collector.PortfolioCollector  : ##### Begin: collectCMDB #####
2020-07-31 12:15:00.028  WARN 13264 --- [taskScheduler-1] o.apache.spark.sql.SparkSession$Builder  : Using an existing SparkSession; some configuration may not take effect.
2020-07-31 12:15:00.069  WARN 13

[2020-07-31 09:25] larsen-mallick commented on #95
This can be overcome by adding the below Maven dependency in executive-analysis\pom.xml -

<dependency>
            <groupId>org.mongodb</groupId>
            <artifactId>mongo-java-driver</artifactId>
            <version>3.12.5</version>
        </dependency>

[2020-07-31 09:25] #95 closed

[2020-08-26 21:04] DarrenClintAlbertyn commented on #81
@g1soori did you manage dude?

[2020-08-26 22:13] g1soori commented on #81
@DarrenClintAlbertyn no i couldn't figure it out. Waiting for servicenow collector to be released to move forward.

[2020-08-27 00:19] raambabun commented on #81
Hi All,

What is the issue facing about the Pipeline Lead Time?

Thanks,
Ram

On Wed, Aug 26, 2020 at 3:13 PM g1soori <notifications@github.com> wrote:

--
Hi

Thanks,
Raambabu

[2021-02-07 01:53] VivekBuzruk opened #97 "Test Data"
Is there a way to generate Test Data to get a feel of ExecDashboard?

Do we have any mongoDB dump to visualize and play around with all dashboards?

If so, please share the same.

Thanks

[2021-04-06 20:26] benMain opened #98 "Runtime Issues related to JAR conflicts on master branch of exec-analysis jar aka "Metrics Collector""
I'm currently receiving a significant number of runtime errors on the master branch of this project as I attempt to run the metrics collector locally before containerizing it. It may be an issue with the config I'm using for the metrics collector, so I've attached that as well.

Reproduction Steps:
1. Ensure that the CMDB collections is seeded with Business Services (app type records) and Business

[2021-08-19 07:54] prasad-clouduser commented on #19
I have installed the Hygieia Exec Dashboard and we see the no portfolios in the dashboard and it is completely empty. I have also configured the cmdb collection with some dummy data in the hygieia db (not the exec dashboard db) still I am not able to see the portfolios information in the dashboard. Followed the documentation of exec dashboard to configure collector, api and DB and not able to figu

[2021-09-06 04:51] kuchanamounika opened #100 "Exec Dashboard Exec-Analysis Issue"
Hi,

I am trying to install the execute dashboard, I am able to get the UI of it, but while configuring and running the executive analysis I am getting issue like below

2021-09-06 04:48:02.003 ERROR 22585 --- [taskScheduler-1] o.s.s.s.TaskUtils$LoggingErrorHandler    : Unexpected error occurred in scheduled task.
java.lang.NoClassDefFoundError: Lcom/mongodb/MongoDriverInformation;
        at java

[2021-11-24 09:13] ducdq1 commented on #19
Add this dependency:

        <dependency>
            <groupId>org.mongodb</groupId>
            <artifactId>mongo-java-driver</artifactId>
            <version>3.9.0</version>
        </dependency>

[2021-11-25 01:28] ducdq1 commented on #100
Add this dependency:

        <dependency>
            <groupId>org.mongodb</groupId>
            <artifactId>mongo-java-driver</artifactId>
            <version>3.9.0</version>
        </dependency>

[2022-07-13 16:55] mend-bolt-for-github opened #102 "CVE-2020-28500 (Medium) detected in lodash-4.17.4.tgz"
## CVE-2020-28500 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>lodash-4.17.4.tgz</b></p></summary>

<p>Lodash modular utilities.</p>
<p>Library home page: <a href="https://registry.npmjs.org/lodash/-/lodash-4.17.4.tgz">https://registry.npmjs.org/lodash/-/lodas

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #103 "CVE-2019-10202 (High) detected in jackson-mapper-asl-1.9.13.jar"
## CVE-2019-10202 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-mapper-asl-1.9.13.jar</b></p></summary>

<p>Data Mapper package is a high-performance data binding package
built on Jackson JSON processor</p>
<p>Path to dependency file: /exec-api/pom.xml</p

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #104 "CVE-2019-10744 (High) detected in lodash-4.17.4.tgz"
## CVE-2019-10744 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>lodash-4.17.4.tgz</b></p></summary>

<p>Lodash modular utilities.</p>
<p>Library home page: <a href="https://registry.npmjs.org/lodash/-/lodash-4.17.4.tgz">https://registry.npmjs.org/lodash/-/lodash-

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #105 "CVE-2022-0235 (Medium) detected in node-fetch-1.6.3.tgz"
## CVE-2022-0235 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-fetch-1.6.3.tgz</b></p></summary>

<p>A light-weight module that brings window.fetch to node.js and io.js</p>
<p>Library home page: <a href="https://registry.npmjs.org/node-fetch/-/node-fetch-1

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #106 "CVE-2020-8908 (Low) detected in guava-19.0.jar"
## CVE-2020-8908 - Low Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>guava-19.0.jar</b></p></summary>

<p>Guava is a suite of core and expanded libraries that include
    utility classes, google's collections, io classes, and much
    much more.

    Guava has only one

[2022-07-13 16:55] mend-bolt-for-github opened #107 "WS-2019-0379 (Medium) detected in commons-codec-1.9.jar"
## WS-2019-0379 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>commons-codec-1.9.jar</b></p></summary>

<p>The Apache Commons Codec package contains simple encoder and decoders for
     various formats such as Base64 and Hexadecimal.  In addition to these
     w

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #108 "CVE-2021-4231 (Medium) detected in core-4.4.7.tgz"
## CVE-2021-4231 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>core-4.4.7.tgz</b></p></summary>

<p>Angular - the core framework</p>
<p>Library home page: <a href="https://registry.npmjs.org/@angular/core/-/core-4.4.7.tgz">https://registry.npmjs.org/@angular/co

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #109 "CVE-2018-25031 (Medium) detected in springfox-swagger-ui-2.4.0.jar"
## CVE-2018-25031 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>springfox-swagger-ui-2.4.0.jar</b></p></summary>

<p>JSON API documentation for spring based applications</p>
<p>Library home page: <a href="https://github.com/springfox/springfox">https://github.c

[2022-07-13 16:55] mend-bolt-for-github opened #110 "CVE-2020-25649 (High) detected in jackson-databind-2.10.0.pr1.jar"
## CVE-2020-25649 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.10.0.pr1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackso

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #111 "CVE-2020-7598 (Medium) detected in minimist-1.2.0.tgz"
## CVE-2020-7598 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>minimist-1.2.0.tgz</b></p></summary>

<p>parse argument options</p>
<p>Library home page: <a href="https://registry.npmjs.org/minimist/-/minimist-1.2.0.tgz">https://registry.npmjs.org/minimist/-/min

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #112 "CVE-2020-8203 (High) detected in lodash-4.17.4.tgz"
## CVE-2020-8203 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>lodash-4.17.4.tgz</b></p></summary>

<p>Lodash modular utilities.</p>
<p>Library home page: <a href="https://registry.npmjs.org/lodash/-/lodash-4.17.4.tgz">https://registry.npmjs.org/lodash/-/lodash-4

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #113 "CVE-2018-16487 (Medium) detected in lodash-4.17.4.tgz"
## CVE-2018-16487 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>lodash-4.17.4.tgz</b></p></summary>

<p>Lodash modular utilities.</p>
<p>Library home page: <a href="https://registry.npmjs.org/lodash/-/lodash-4.17.4.tgz">https://registry.npmjs.org/lodash/-/lodas

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #114 "CVE-2019-10172 (High) detected in jackson-mapper-asl-1.9.13.jar"
## CVE-2019-10172 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-mapper-asl-1.9.13.jar</b></p></summary>

<p>Data Mapper package is a high-performance data binding package
built on Jackson JSON processor</p>
<p>Path to dependency file: /exec-api/pom.xml</p

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #115 "CVE-2019-1010266 (Medium) detected in lodash-4.17.4.tgz"
## CVE-2019-1010266 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>lodash-4.17.4.tgz</b></p></summary>

<p>Lodash modular utilities.</p>
<p>Library home page: <a href="https://registry.npmjs.org/lodash/-/lodash-4.17.4.tgz">https://registry.npmjs.org/lodash/-/lod

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #116 "CVE-2021-23337 (High) detected in lodash-4.17.4.tgz"
## CVE-2021-23337 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>lodash-4.17.4.tgz</b></p></summary>

<p>Lodash modular utilities.</p>
<p>Library home page: <a href="https://registry.npmjs.org/lodash/-/lodash-4.17.4.tgz">https://registry.npmjs.org/lodash/-/lodash-

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #117 "WS-2021-0419 (High) detected in gson-2.7.jar"
## WS-2021-0419 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>gson-2.7.jar</b></p></summary>

<p>Gson JSON library</p>
<p>Library home page: <a href="https://github.com/google/gson">https://github.com/google/gson</a></p>
<p>Path to dependency file: /exec-core/pom

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #118 "CVE-2021-3807 (High) detected in ansi-regex-3.0.0.tgz"
## CVE-2021-3807 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>ansi-regex-3.0.0.tgz</b></p></summary>

<p>Regular expression for matching ANSI escape codes</p>
<p>Library home page: <a href="https://registry.npmjs.org/ansi-regex/-/ansi-regex-3.0.0.tgz">https://re

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #119 "WS-2021-0616 (Medium) detected in jackson-databind-2.10.0.pr1.jar"
## WS-2021-0616 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.10.0.pr1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackso

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #120 "CVE-2022-25647 (High) detected in gson-2.7.jar"
## CVE-2022-25647 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>gson-2.7.jar</b></p></summary>

<p>Gson JSON library</p>
<p>Library home page: <a href="https://github.com/google/gson">https://github.com/google/gson</a></p>
<p>Path to dependency file: /exec-core/p

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #121 "CVE-2020-36518 (High) detected in jackson-databind-2.10.0.pr1.jar"
## CVE-2020-36518 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.10.0.pr1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackso

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #122 "CVE-2018-17190 (High) detected in spark-core_2.11-2.3.3.jar"
## CVE-2018-17190 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>spark-core_2.11-2.3.3.jar</b></p></summary>

<p>The Apache Software Foundation provides support for the Apache community of open-source software projects.
    The Apache projects are characterized by

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #123 "CVE-2018-10237 (Medium) detected in guava-19.0.jar"
## CVE-2018-10237 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>guava-19.0.jar</b></p></summary>

<p>Guava is a suite of core and expanded libraries that include
    utility classes, google's collections, io classes, and much
    much more.

    Guava has only

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #124 "CVE-2022-27772 (High) detected in spring-boot-2.0.0.RELEASE.jar"
## CVE-2022-27772 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>spring-boot-2.0.0.RELEASE.jar</b></p></summary>

<p>Spring Boot</p>
<p>Library home page: <a href="https://projects.spring.io/spring-boot/#/spring-boot-parent/spring-boot">https://projects.spring.io/

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #125 "CVE-2020-15168 (Medium) detected in node-fetch-1.6.3.tgz"
## CVE-2020-15168 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-fetch-1.6.3.tgz</b></p></summary>

<p>A light-weight module that brings window.fetch to node.js and io.js</p>
<p>Library home page: <a href="https://registry.npmjs.org/node-fetch/-/node-fetch-

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #126 "CVE-2022-31129 (High) detected in moment-2.24.0.tgz"
## CVE-2022-31129 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>moment-2.24.0.tgz</b></p></summary>

<p>Parse, validate, manipulate, and display dates</p>
<p>Library home page: <a href="https://registry.npmjs.org/moment/-/moment-2.24.0.tgz">https://registry.npmjs

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #127 "WS-2021-0461 (Medium) detected in springfox-swagger-ui-2.4.0.jar - autoclosed"
## WS-2021-0461 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>springfox-swagger-ui-2.4.0.jar</b></p></summary>

<p>JSON API documentation for spring based applications</p>
<p>Library home page: <a href="https://github.com/springfox/springfox">https://github.com

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #128 "CVE-2021-44906 (Medium) detected in minimist-1.2.0.tgz"
## CVE-2021-44906 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>minimist-1.2.0.tgz</b></p></summary>

<p>parse argument options</p>
<p>Library home page: <a href="https://registry.npmjs.org/minimist/-/minimist-1.2.0.tgz">https://registry.npmjs.org/minimist/-/mi

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #129 "CVE-2021-29425 (Medium) detected in commons-io-2.1.jar"
## CVE-2021-29425 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>commons-io-2.1.jar</b></p></summary>

<p>The Commons IO library contains utility classes, stream implementations, file filters, file comparators and endian classes.</p>
<p>Library home page: <a hre

[2022-07-13 16:55] mend-bolt-for-github[bot] opened #130 "CVE-2022-24785 (High) detected in moment-2.24.0.tgz"
## CVE-2022-24785 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>moment-2.24.0.tgz</b></p></summary>

<p>Parse, validate, manipulate, and display dates</p>
<p>Library home page: <a href="https://registry.npmjs.org/moment/-/moment-2.24.0.tgz">https://registry.npmjs

[2022-07-13 16:56] mend-bolt-for-github opened #131 "CVE-2019-17495 (Critical) detected in springfox-swagger-ui-2.4.0.jar"
## CVE-2019-17495 - Critical Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>springfox-swagger-ui-2.4.0.jar</b></p></summary>

<p>JSON API documentation for spring based applications</p>
<p>Library home page: <a href="https://github.com/springfox/springfox">https://github

[2022-07-13 16:56] mend-bolt-for-github opened #132 "CVE-2018-3721 (Medium) detected in lodash-4.17.4.tgz"
## CVE-2018-3721 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>lodash-4.17.4.tgz</b></p></summary>

<p>Lodash modular utilities.</p>
<p>Library home page: <a href="https://registry.npmjs.org/lodash/-/lodash-4.17.4.tgz">https://registry.npmjs.org/lodash/-/lodash

[2022-07-19 01:23] mend-bolt-for-github opened #133 "CVE-2022-33891 (High) detected in spark-core_2.11-2.3.3.jar"
## CVE-2022-33891 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>spark-core_2.11-2.3.3.jar</b></p></summary>

<p>The Apache Software Foundation provides support for the Apache community of open-source software projects.
    The Apache projects are characterized by

[2022-10-03 01:18] mend-bolt-for-github opened #134 "CVE-2022-42004 (High) detected in jackson-databind-2.10.0.pr1.jar"
## CVE-2022-42004 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.10.0.pr1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackso

[2022-10-03 01:18] mend-bolt-for-github opened #135 "CVE-2022-42003 (High) detected in jackson-databind-2.10.0.pr1.jar"
## CVE-2022-42003 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.10.0.pr1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackso

[2022-11-03 01:13] mend-bolt-for-github opened #136 "CVE-2022-31777 (Medium) detected in spark-core_2.11-2.3.3.jar"
## CVE-2022-31777 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>spark-core_2.11-2.3.3.jar</b></p></summary>

<p>The Apache Software Foundation provides support for the Apache community of open-source software projects.
    The Apache projects are characterized